* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.slide-up-animation {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1.25s;
  animation-timing-function: ease;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.App {
  text-align: center;
  margin: 1rem;
}

.debt-form-container {
  background-color: rgb(250, 250, 250);
  padding: 1rem;
  border-radius: 20px;
  margin: 1rem auto;
  display: flex;
  max-width: 1069px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.debt-form {
  padding: 1rem; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  row-gap: 1rem;
  margin: 0px auto 20px;
  background-color: rgba(236, 236, 236, 0.575);
  border: 2px solid rgb(216, 216, 216);
  color: black;
  border-radius: 15px;
  width: 100%;
}

.debt-form div,
.make-payment form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.debt-form div label,
.make-payment label {
  background-color: rgba(209, 209, 209, 0.795);
  text-align: center;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
} 

.debt-form div input,
.make-payment form input {
  border-radius: 5px;
  outline: 2px solid rgba(6, 111, 248, 0.514);
  border: none;
  background: transparent;
  height: 40px;
  width: 100%;
  margin: auto;
  text-align: center;
  font-weight: 600;
}

.debt-form button, 
.make-payment form button {
  grid-column: 2 / 3;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem 2rem;
  color: rgb(6, 111, 248);
  font-weight: 700;
  font-size: 16px;
  background-color: white;
  border: 1px solid  rgba(6, 111, 248, 0.514);
  border-radius: 10px;
}

.debt-form button:hover, 
.make-payment form button:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}

.debt-form div.dollar-input,
#interestRateInput {
  position: relative;
  display: block;
  height: fit-content;
  margin: auto;
}

.dollar-sign {
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-54%);
}

#totalDebt {
  padding-left: 25px;
  padding-right: 0;
}

#interestRateInput {
  position: relative;
}

#interestRateSymbol {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.debt-calc-container {
  width: 90%;
  padding: 20px 50px;
  background-color: white;
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.295);
}

.debt-calc {
  position: relative;
}

.debt-calc .result {
  width: 100%;
}

.debt-calc .breakdown {
  margin: 0 auto;
  width: 100%;
  overflow-x: scroll;
}

.breakdown table {
  overflow-x: scroll;
  margin: 0 auto;
  width: 100%;
}

.breakdown table, th {
  border: 1px solid rgba(6, 111, 248, 0.534);
}

.breakdown td {
  border: 1px solid;
  border-top: none;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result-item {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.make-payment,
.payment-history {
  background-color: rgba(236, 236, 236, 0.575);
  padding: 10px 0px;
}

.make-payment {
  margin-top: 15px;
}

.make-payment form {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0 15px;
}

.payment-history ul {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  list-style: upper-roman;
  padding: 0;
}

.back-to-top{
  background-color: rgb(219, 219, 219);
  margin-top: 5px;
  padding: 5px;
}

@media (max-width: 769px) {
  .debt-form-container {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .debt-form {
    grid-template-columns: 1fr;
  }

  .debt-form button {
    grid-column: inherit;
  }

  .debt-form div label {
    width: -moz-fit-content;
    width: fit-content;
  }

  .debt-calc-container {
    width: 100%;
    margin-top: 1rem;
    padding: 10px;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}